<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Retalhista</title>
  </head>
  <body>
    <form action="do_add" method="post">
      <label for="tin">TIN:</label>
      <input type="number" step="1" name="tin" id="tin" />
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" />
      <input type="submit" name="input" />
    </form>
  </body>
</html>
