<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indíce - Projeto 3 BD</title>
  </head>
  <body>
    <a href="categories">
      <input type="button" name="categories" value="Mostrar categorias" />
    </a>
    <a href="retailers">
      <input type="button" name="retailers" value="Mostrar retalhistas" />
    </a>
    <a href="reposition_events">
      <input
        type="button"
        name="reposition_events"
        value="Mostrar eventos de
      reposição"
      />
    </a>
    <a href="hierarchy">
      <input type="button" name="hierarchy" value="Mostrar hierarquia" />
    </a>
  </body>
</html>
