<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List all categories</title>
  </head>
  <body style="padding: 20px">
    {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Categorias</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>
            <a href="balance?account_number={{ record[0] }}">Alterar saldo</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Erro: não foi possível obter dados da base de dados!</p>
    {% endif %}
  </body>
</html>
