<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remover Categoria</title>
  </head>
  <body>
    {% if cursor %}
    <form action="do_remove" method="post">
      <select name="nome" id="nome">
        {% for record in cursor %}
          <option value="{{ record[0] }}" > {{ record[0] }} </option>
        {% endfor %}
      </select>
      <input type="submit" value="input"/>
    </form>
    {% else %}
    <p>Erro: não foi possível obter dados da base de dados!</p>
    {% endif %}
  </body>
</html>
