<html>
    <title>Retalhistas</title>
    <body style= "padding:20px">
        <button onclick="window.location.href='retailers/add'">Inserir Retalhista </button>
        <button onclick="window.location.href='retailers/remove'">Eliminar Retalhista </button>
        <button onclick="window.location.href='/'">Voltar à pagina principal </button>

        <table>
            <thead>
            <tr>
            <th> TIN </th>
            <th> Nome </th>
            </tr>
            </thead>
        </table>

    </body>
</html>