<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selecionar IVM</title>
  </head>
  <body>
    <form action="specific_ivm" method="post">
      <label for="num_serie">Número de Série:</label>
      <input type="text" name="num_serie" id="num_serie" />
      <label for="fabricante">Fabricante:</label>
      <input type="text" name="fabricante" id="fabricante" />
      <input type="submit" name="input" />
    </form>
  </body>
</html>
