<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IVM Selecionada</title>
  </head>
  <body>
    <!-- Tabela dos eventos de reposição -->
    {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>EAN</th>
          <th>Número</th>
          <th>Número de Série</th>
          <th>Fabricante</th>
          <th>Data</th>
          <th>Unidades</th>
          <th>TIN</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>{{ record[1] }}</td>
          <td>{{ record[2] }}</td>
          <td>{{ record[3] }}</td>
          <td>{{ record[4] }}</td>
          <td>{{ record[5] }}</td>
          <td>{{ record[6] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Tabela dos produtos e respetivas unidades -->
    <table border="2px">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[7] }}</td>
          <td>{{ record[8] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
