<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Categoria Selecionada</title>
  </head>
  <body>
    <!-- Tabela dos eventos de reposição -->
    {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Super Categoria</th>
          <th>Sub Categoria</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>{{ record[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    {% endif %}
  </body>
</html>
